<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationUsageDescription</key>
	<string>Time to Burn will send you notifications about UV index changes and when you need to take precautions.</string>
</dict>
</plist>
